Repository StarSync-FE/StarSync: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, biome

stylelint:
  run: npx stylelint {staged_files} --fix --max-warnings=0
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

♻️Refactor: 공통 컴포넌트 props 변경 및 적용
  src/components/card/Card.jsx
  src/components/chart/Chart.jsx
  src/components/customButton/CustomButton.jsx
  src/components/error/ApiErrorBoundary.jsx
  src/components/error/RenderErrorBoundary.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/my/MyPage.jsx
Due: biome

💄Style: 차트 상하 여백 추가
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
Due: stylelint, biome

💄Style: 반응형 구현을 위한 스타일 분리
  src/pages/list/ListPage.jsx
Due: biome

💄Style: 목록 페이지 좌우 여백 반응형 조정 및 고정 너비 지정
  src/pages/list/listPage.styles.js
Due: stylelint, biome

♻️Refactor: 버튼 컴포넌트 props 추가
  src/components/customButton/CustomButton.jsx
Due: biome

♻️Refactor: 불필요한 import 삭제
  src/pages/list/listPage.styles.js
Due: stylelint, biome

🐛Fix: 오류 메세지 출력 이후 버튼이 비활성화 되는 에러 해결
  src/components/modals/donationModal/DonationModal.jsx
Due: biome

💄Style: 무분별한 계층형 css 구조 분리 및 반응형 css 작성
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
Due: stylelint, biome

📦Chore: 배포를 위한 config 수정
  vite.config.js
Due: biome

♻️Refactor: 버튼 컴포넌트 수정 - Alert 컴포넌트 추가 및 반영 - 상태 추가 및 조건부 렌더링 수정 - 조건부 스타일 수정
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/donationModal.styles.js
Due: stylelint, biome

♻️Refactor: Alert 컴포넌트 수정 - isSmall props 추가 - 조건부 스타일로 변경
  src/components/alert/Alert.jsx
  src/components/alert/alert.styles.js
Due: stylelint, biome

📦Chore: CICD 워크플로우 생성
  .github/workflows/deploy.yml
Due: none

📦Chore: index.js에서 경로 문제로 인한 CICD 불가 오류 수정
  src/components/modals/creditChargeModal/index.js
Due: biome

📦Chore: base url을 환경변수로 추가
  .github/workflows/deploy.yml
Due: none

🐛Fix: 오류 스타일이 계속 보이던 문제 수정
  src/components/modals/donationModal/DonationModal.jsx
Due: biome

💄Style: 버튼 애니메이션을 위한 글로벌 색상 추가
  src/styles/Global.styles.jsx
Due: stylelint, biome

💄Style: 목록 페이지 배경색 테마 적용
  src/pages/list/ListPage.jsx
  src/pages/list/listPage.styles.js
Due: stylelint, biome

💄Style: 투표하기 버튼 css 수정을 위한 커스텀 버튼 디자인 수정
  src/components/customButton/CustomButton.jsx
Due: biome

💄Style: 버튼 애니메이션 추가 및 차트 반응형 디자인 작성
  src/components/chart/chart.styles.js
Due: stylelint, biome

💄Style: 차트 아래 footer와 여백을 두기 위한 css 속성 추가
  src/components/chart/Chart.jsx
Due: biome

💄Style: 반복 스타일 변수화 및 버튼 애니메이션 추가
  src/components/chart/chart.styles.js
Due: stylelint, biome

💄Style: 버튼 색상 추가
  src/styles/Global.styles.jsx
Due: stylelint, biome

💄Style: 크레딧 이미지 변경
  src/components/charge/Charge.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
Due: stylelint, biome

💄Style: 크레딧 충전 컴포넌트 디자인 수정 및 애니메이션 추가
  src/components/charge/charge.styles.js
Due: stylelint, biome

♻️Refactor: errorBoundary폴더 생성
  src/components/error/index.js
  src/components/test/TestRenderError.jsx
  src/errorBoundary/apiErrorBoundary/ApiErrorBoundary.jsx
  src/errorBoundary/apiErrorBoundary/index.js
  src/errorBoundary/globalErrorBoundary/GlobalErrorBoundary.jsx
  src/errorBoundary/globalErrorBoundary/index.js
  src/errorBoundary/index.js
  src/errorBoundary/renderErrorBoundary/RenderErrorBoundary.jsx
  src/errorBoundary/renderErrorBoundary/index.js
  src/errorBoundary/styles/errorBoundary.styles.js
  src/errorBoundary/styles/index.js
  src/pages/error/index.js
  src/pages/error/notFound/index.js
  src/pages/error/serverError/index.js
  src/routes/router.jsx
Due: stylelint, biome

✨Feat: Avatar 컴포넌트 스타일 변경
  src/components/avatar/avatar.styles.js
Due: stylelint, biome

♻️Refactor: 모달, 버튼 폴더구조 변경
  src/components/avatarButton/index.js
  src/components/button/avatarButton/AvatarButton.jsx
  src/components/button/avatarButton/avatarButton.styles.js
  src/components/button/avatarButton/index.js
  src/components/button/customButton/CustomButton.jsx
  src/components/button/customButton/customButton.styles.js
  src/components/button/customButton/index.js
  src/components/button/index.js
  src/components/button/radioButton/RadioButton.jsx
  src/components/button/radioButton/index.js
  src/components/button/radioButton/radioButton.styles.js
  src/components/card/Card.jsx
  src/components/chart/Chart.jsx
  src/components/customButton/index.js
  src/components/list/ListModal.jsx
  src/components/modal/index.js
  src/components/modals/commonModal/Modal.jsx
  src/components/modals/commonModal/index.js
  src/components/modals/commonModal/modal.styles.js
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditChargeModal/index.js
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/creditLackModal/index.js
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/index.js
  src/components/modals/index.js
  src/components/modals/voteModal/VoteModal.jsx
  src/components/modals/voteModal/index.js
  src/components/radioButton/index.js
  src/errorBoundary/apiErrorBoundary/ApiErrorBoundary.jsx
  src/errorBoundary/renderErrorBoundary/RenderErrorBoundary.jsx
  src/pages/error/notFound/NotFoundPage.jsx
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/landing/LandingPage.jsx
  src/pages/my/MyPage.jsx
Due: stylelint, biome

💄Style: 에러 버튼 display 변경
  src/pages/error/notFound/NotFoundPage.jsx
  src/pages/error/serverError/ServerErrorPage.jsx
  src/pages/error/styles/errorButton.styles.js
Due: stylelint, biome

🐛Fix: 모든 아이돌 리스트 반응형에서 넘치는 문제 해결
  src/pages/my/myPage.styles.js
Due: stylelint, biome

♻️Refactor: import 순서 정리
  src/components/alert/Alert.jsx
  src/components/button/avatarButton/AvatarButton.jsx
  src/components/button/customButton/CustomButton.jsx
  src/data/mockData.js
Due: biome

♻️Refactor: 이미지 파일명 kebab으로 변경
  src/assets/images/logo-bg.png
  src/assets/images/logo-star-bg.png
  src/assets/images/logo-star.png
  src/assets/images/logo-text-temp.png
  src/assets/images/star-aurora-bg.png
  src/assets/images/star-aurora.png
  src/assets/images/star-bg.png
  src/components/header/Header.jsx
  src/components/loadingStatus/splashScreen/SplashScreen.jsx
  src/components/modals/creditChargeModal/index.js
Due: biome

🐛Fix: 드래그 했을 때 모달 꺼지는 문제 수정
  src/Root.jsx
  src/components/modal/Modal.jsx
Due: biome

✨Feat: ArrowButton 컴포넌트 추가 및 반영
  src/components/arrowButton/ArrowButton.jsx
  src/components/arrowButton/arrowButton.styles.js
  src/components/arrowButton/index.js
Due: stylelint, biome

♻️Refactor: arrowButton 컴포넌트 반영
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
Due: stylelint, biome

📝Docs: JSDoc 작성
  src/components/arrowButton/ArrowButton.jsx
Due: biome

✨Feat: 전체 아이돌이 없을 경우 버튼 삭제
  src/pages/my/MyPage.jsx
Due: biome

🐛Fix: 타이틀 개별적인 스타일 추가
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
Due: stylelint, biome

🐛Fix: 1280에서 그리드가 넘치는 현상 해결
  src/pages/my/myPage.styles.js
Due: stylelint, biome

🐛Fix: 전체 아이돌 목록 데스크탑일 때 페이지네이션 갯수 수정
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
Due: stylelint, biome

🐛Fix: 불필요한 스타일 삭제
  src/pages/my/myPage.styles.js
Due: stylelint, biome

Path conditions:
  stylelint: any of: src/**/*.styles.{js,jsx}
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
