Repository StarSync-FE/StarSync: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, biome

stylelint:
  run: npx stylelint {staged_files} --fix --max-warnings=0
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

🐛Fix: sync 방지 문제 해결을 위한 vite 버전 업데이트
  package-lock.json
  package.json
Due: biome

💄Style: 파일명 대문자로 변경 및 chartData가 빈 경우 방지 처리
  src/components/chart/idolList.jsx
Due: biome

💄Style: AbortController가 fetchCharts에 전달되지 않아 api 수정
  src/api/chart.js
Due: biome

💄Style: gender 함수화하여 파싱 반복 개선 및 중복 호출 가능성 방지
  src/components/chart/Chart.jsx
Due: biome

🐛Fix: 이미지파일명 오타 수정
  src/components/chart/Chart.jsx
Due: biome

📝Docs: README update after demo
  README.md
  package-lock.json
  package.json
Due: biome

✨Feat: 차트 컴포넌트 분리를 위한 헤더랑 탭버튼 불러오기
  src/components/chart/Chart.jsx
Due: biome

💄Style: 아이돌 리스트 대소문자 변경
  src/components/chart/IdolList.jsx
Due: biome

✨Feat: fetchCharts JSDoc 추가
  src/api/chart.js
Due: biome

📦Chore: Build 경고 수정 후 배포
  src/components/chart/chart.styles.js
  src/components/starFrame/StarFrame.jsx
  src/components/starFrame/starFrame.styles.js
  src/pages/landing/LandingPage.jsx
Due: stylelint, biome

📦Chore: Git 에러 수정 후 배포
  src/components/chart/IdolList.jsx
Due: biome

📝Docs: 리드미 업데이트
  README.md
Due: none

📝Docs: 리드미 일부 수정
  README.md
Due: none

🐛Fix: 랜딩페이지 레이아웃 및 반응형 수정
  src/components/starFrame/starFrame.styles.js
  src/pages/landing/landingPage.styles.js
Due: stylelint, biome

🐛Fix: 누락된 스타일 추가
  src/components/starFrame/starFrame.styles.js
Due: stylelint, biome

🐛Fix: 랜딩페이지 및 본문 컴포넌트 반응형 수정
  src/components/starFrame/starFrame.styles.js
  src/pages/landing/landingPage.styles.js
Due: stylelint, biome

♻️ Refactor: 컴포넌트 화살표 함수로 변경 등 리팩토링
  README.md
  src/App.jsx
  src/Root.jsx
  src/components/loadingStatus/splashScreen/SplashScreen.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/constants/api/base.js
  src/constants/api/index.js
  src/routes/router.jsx
  src/utils/api/safeRequest.js
Due: biome

Path conditions:
  stylelint: any of: src/**/*.styles.{js,jsx}
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
