Repository StarSync-FE/StarSync: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, biome

stylelint:
  run: npx stylelint {staged_files} --fix --max-warnings=0
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

♻️Refactor: 카드 컴포넌트와 관련된 모달 수정
  src/components/modals/donationModal/DonationModal.jsx
Due: biome

♻️Refactor: 라우터 로더 API 호출 분리
  src/api/chart.js
  src/api/donation.js
  src/api/idol.js
  src/api/index.js
  src/routes/router.jsx
Due: biome

✨Feat: safeRequest 함수 생성, try,catch 기능 분리
  src/routes/router.jsx
  src/utils/api/index.js
  src/utils/api/safeRequest.js
Due: biome

✨Feat: 데이터가 빈 배열일 때 404 에러를 던지는 기능throwIfEmptyArray 유틸 함수를 생성해 분리
  src/routes/router.jsx
  src/utils/api/safeRequest.js
  src/utils/api/validate.js
Due: biome

💄Style: 크레딧 충전하기 버튼 애니메이션 추가
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
Due: stylelint, biome

💄Style: 크레딧 이미지 추가 및 적용
  src/assets/images/2-star.png
  src/assets/images/3-star.png
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
Due: biome

💄Style: 크레딧 충전하기 버튼 호버 시 투명도 적용
  src/components/charge/charge.styles.js
Due: stylelint, biome

💄Style: 충전하기 버튼 굵기 조정
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
Due: stylelint, biome

♻️Refactor: 토스트 알림 컴포넌트 분리
  src/App.jsx
  src/components/alert/Alert.jsx
  src/components/alertManager/AlertManager.jsx
  src/components/alertManager/index.js
  src/components/modals/voteModal/VoteModal.jsx
  src/utils/alert/alertController.js
Due: biome

💄Style: 분리된 함수 JSDoc 작성
  src/components/chart/LoadMoreButton.jsx
  src/components/chart/fetchData.js
  src/components/chart/useScreenSize.js
Due: biome

🐛Fix: 동일 탭 클릭 시 데이터 초기화되어 아이돌리스트 사라지는 버그 수정
  src/components/chart/Chart.jsx
Due: biome

♻️Refactor: 요청 유틸리티 함수 하나의 request파일로 통합
  src/components/card/Card.jsx
  src/pages/list/ListPage.jsx
  src/routes/router.jsx
  src/utils/api/index.js
  src/utils/api/request.js
  src/utils/api/requestDelete.js
  src/utils/api/requestGet.js
  src/utils/api/requestPatch.js
  src/utils/api/requestPost.js
  src/utils/api/requestPut.js
  src/utils/validate/index.js
  src/utils/validate/throwIfEmptyArray.js
Due: biome

♻️Refactor: 브레이크 포인트에 따라 가운데에 오도록 수정
  src/components/alert/alert.styles.js
Due: stylelint, biome

♻️Refactor: 카드 컴포넌트 수정 - 관련 유틸 함수 수정 - 목표 금액 표시 - 실시간 갱신 로직 구현 - 카드 호버 시 애니메이션 호출
  src/components/card/Card.jsx
  src/components/card/card.styles.js
  src/utils/format/getDaysRemaining.js
  src/utils/format/getDonationPercentage.js
Due: stylelint, biome

♻️Refactor: 불필요한 코드 삭제
  src/components/alert/Alert.jsx
  src/components/alert/alert.styles.js
Due: stylelint, biome

💄Style: 일부 여백 수정
  src/components/card/card.styles.js
Due: stylelint, biome

📝Docs: 일부 주석 제거
  src/components/card/Card.jsx
Due: biome

♻️Refactor: 클린업 함수 추가 및 duration 파라미터 추가
  src/components/alertManager/AlertManager.jsx
  src/utils/alert/alertController.js
Due: biome

♻️Refactor: controller와 파리미터 순서 맞추기
  src/components/alertManager/AlertManager.jsx
Due: biome

🐛Fix: chart url 수정, safeRequest에 label 파라미터 추가
  src/api/chart.js
  src/api/donation.js
  src/components/card/Card.jsx
  src/routes/router.jsx
  src/utils/api/safeRequest.js
Due: biome

♻️Refactor: requestGet요청들을 fetchCharts, fetchDonations, fetchIdols로 변경
  src/components/chart/Chart.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/utils/api/request.js
Due: biome

📦Chore: biome 설정 값 수정
  biome.json
Due: biome

🐛Fix: 모든 아이돌이 사라지는 문제 해결
  src/pages/my/MyPage.jsx
Due: biome

🐛Fix: 처음 10개만 불러와지는 문제 해결
  src/routes/router.jsx
Due: biome

🐛Fix: 마이페이지 반응형 수정
  src/pages/my/myPage.styles.js
Due: stylelint, biome

♻️Refactor: 모든 아이돌 목록 첫페이지, 마지막 페이지 버튼 숨기기
  src/pages/my/MyPage.jsx
Due: biome

✨Feat: 모든 아이돌에서 아무것도 추가하지 않고 버튼 클릭시 토스트알림 띄우는 기능 추가
  src/pages/my/MyPage.jsx
Due: biome

💄Style: 헤더 디자인 수정
  src/components/header/header.styles.js
Due: stylelint, biome

💄Style: 푸터 디자인 수정
  src/components/footer/Footer.jsx
  src/components/footer/footer.styles.js
Due: stylelint, biome

♻️Refactor: 같은 페이지 이동시 PenddingUI 동작 안하게 변경
  src/Root.jsx
Due: biome

💄Style: 섹션에서 마우스 포인터 default로 변경 및 버튼 영역 수정
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
Due: stylelint, biome

♻️Refactor: 캐러셀 구조 개선 - 캐러셀 일부 스타일 변경 - 캐러셀 로직 간소화 - 일부 변수 상수화
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
  src/constants/carousel/carousel.js
  src/constants/carousel/carouselConstants.js
  src/constants/carousel/index.js
Due: stylelint, biome

✨Feat: 크레딧 충전하기 모달 창의 크레딧 콤마 단위 기능 추가 및 css 속성 추가
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
Due: biome

♻️Refactor: 버튼 동작 방식 수정
  src/pages/landing/LandingPage.jsx
Due: biome

💄Style: 충전하기 모달 반응형 삭제 및 이미지 위치 조정
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
Due: stylelint, biome

🐛Fix: Avatar 컴포넌트 색상 수정
  src/components/avatar/avatar.styles.js
Due: stylelint, biome

✨Feat: 모바일 사이즈에서 모든 아이돌 목록 스크롤로 넘겨서 볼수있게 수정
  src/pages/my/MyPage.jsx
  src/pages/my/myPage.styles.js
Due: stylelint, biome

📦Chore: PR Preview 관련 CICD 파이프라인 추가
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

Path conditions:
  stylelint: any of: src/**/*.styles.{js,jsx}
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
