Repository StarSync-FE/StarSync: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, biome

stylelint:
  run: npx stylelint {staged_files} --fix --max-warnings=0
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

♻️Refactor: resize 로직 개선
  src/components/carousel/Carousel.jsx
  src/constants/carousel/carousel.js
Due: biome

♻️Refactor: 헤더 동작 원리 수정
  src/Root.jsx
Due: biome

💄Style: 헤더 레이아웃 변경 및 푸터 크기도 조정
  src/components/footer/footer.styles.js
  src/components/header/Header.jsx
  src/components/header/header.styles.js
Due: stylelint, biome

💄Style: 헤더, 푸터 영역 수정
  src/constants/layout/layout.js
Due: biome

💄Style: 로고와 마이페이지 아이콘 수정
  src/assets/icons/mypage-icon.gif
  src/assets/images/logo-text-temp.png
  src/assets/images/starsync-text-logo.svg
  src/components/header/Header.jsx
Due: biome

✨Feat: 이미지 추가 및 삭제
  src/assets/images/idols/eunwoo.png
  src/assets/images/idols/hanbin.png
  src/assets/images/idols/keiju.png
  src/assets/images/idols/minji.png
  src/assets/images/idols/ningning.png
  src/assets/images/idols/subin.png
  src/assets/images/idols/suin.png
  src/assets/images/idols/sullyoon.png
  src/assets/images/idols/taesan2.png
Due: none

🐛Fix: GET_CHART 엔드포인트 수정
  src/api/chart.js
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
  src/components/chart/fetchData.js
  src/components/list/ListModal.jsx
  src/components/modals/commonModal/index.js
  src/components/modals/index.js
  src/components/template/modal/Modal.jsx
  src/components/template/modal/index.js
  src/components/template/modal/modal.styles.js
  src/constants/api/endpoints.js
Due: stylelint, biome

💄Style: 라디오 버튼을 포함한 영역 width 값 변경
  src/components/modals/voteModal/voteModal.styles.js
Due: stylelint, biome

♻️Refactor: animation폴더 styles로 이동
  src/components/charge/charge.styles.js
  src/components/chart/chart.styles.js
  src/styles/animation/animation.styles.js
  src/styles/animation/index.js
  src/utils/animation/index.js
Due: stylelint, biome

✨Feat: 애니메이션 효과 추가
  src/assets/images/idols/taesan.png
  src/components/starFrame/StarFrame.jsx
  src/components/starFrame/starFrame.styles.js
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
  src/pages/my/myPage.styles.js
Due: stylelint, biome

♻️Refactor: SEO 방식 수정
  index.html
  src/pages/landing/LandingPage.jsx
  src/pages/list/ListPage.jsx
  src/pages/my/MyPage.jsx
Due: biome

✨Feat: 문구및 미디어쿼리 수정
  src/assets/images/handle-frame.png
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
Due: stylelint, biome

✨Feat: 애니메이션 수정
  src/components/starFrame/StarFrame.jsx
Due: biome

📝Docs: 리드미 초안 작성
  README.md
Due: none

📝Docs: 모코코 사진 추가
  README.md
Due: none

📝Docs: R&R정렬
  README.md
Due: none

✨Feat: 모코코 이미지 파일 assets에 추가
  README.md
  src/assets/images/mococo/감사콩.gif
  src/assets/images/mococo/괜찮코.png
  src/assets/images/mococo/놀람로아코.png
  src/assets/images/mococo/눈물로아코.png
  src/assets/images/mococo/돔황챠콘.png
  src/assets/images/mococo/멀뚱로아코.PNG
  src/assets/images/mococo/몰라로아코.png
  src/assets/images/mococo/몰라코.jpeg
  src/assets/images/mococo/몰라코.png
  src/assets/images/mococo/박수로아코.png
  src/assets/images/mococo/박수코.png
  src/assets/images/mococo/비장로아코.png
  src/assets/images/mococo/비장코.png
  src/assets/images/mococo/뿅로아코.png
  src/assets/images/mococo/사자후로아코.PNG
  src/assets/images/mococo/사자후콘.png
  src/assets/images/mococo/삶이모코코.png
  src/assets/images/mococo/선넘네코.PNG
  src/assets/images/mococo/슬퍼로아콘.png
  src/assets/images/mococo/아무것도몰라콩.png
  src/assets/images/mococo/아콘.gif
  src/assets/images/mococo/엄지코.png
  src/assets/images/mococo/영차로아콘.png
  src/assets/images/mococo/이이잉로아코.PNG
  src/assets/images/mococo/인성.png
  src/assets/images/mococo/점점로아코.PNG
  src/assets/images/mococo/쿨쿨로아코.PNG
  src/assets/images/mococo/크크로아콘.png
  src/assets/images/mococo/토끼로아콘.jpg
  src/assets/images/mococo/펄쩍로아코.PNG
  src/assets/images/mococo/호에엥로아코.PNG
  src/assets/images/mococo/화나콩.png
  src/assets/images/mococo/흘깃로아코.PNG
Due: none

✨Feat: 크레딧을 스타로 변경
  src/components/charge/Charge.jsx
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
  src/components/modals/creditLackModal/CreditLackModal.jsx
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/voteModal/VoteModal.jsx
  src/pages/landing/LandingPage.jsx
Due: biome

📝Docs: 디자인 추가
  README.md
Due: none

💄Style: 목록 스타일 변경
  README.md
Due: none

📦Chore: 배포 전 점검
  src/api/chart.js
  src/assets/icons/mococo-no-background.png
  src/assets/images/credit.png
  src/assets/images/hachiware.png
  src/assets/images/mococo.jpg
  src/assets/images/starSync-logo.svg
  src/assets/images/stupid.png
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
  src/utils/api/safeRequest.js
Due: stylelint, biome

💄Style: OG 이미지 변경
  public/default-og.png
Due: none

💄Style: 인용 스타일 변경
  README.md
  src/assets/images/수진.png
  src/assets/images/시은.png
  src/assets/images/유진.png
  src/assets/images/인성.png
  src/assets/images/지섭.png
Due: none

📝Docs: 배포 링크 추가
  README.md
Due: none

📝Docs: 데모 전 리드미 최종 수정
  README.md
Due: none

📝Docs: 트러블 슈팅 제목 수정
  README.md
Due: none

📝Docs: 트러블 슈팅 추가
  README.md
Due: none

📝Docs: 리드미 업데이트
  README.md
Due: none

💄Style: OG이미지 이름명 수정
  index.html
  public/default-ogimg.png
Due: none

Update README.md
  README.md
Due: none

💄Style: request 사용을 위한 fetchData 함수 삭제
  src/components/chart/fetchData.js
Due: biome

♻️Refactor: request로 데이터 불러오기 위한 수정
  src/components/chart/Chart.jsx
Due: biome

♻️Refactor: 차트 페이지 UI 하위로 분리
  src/components/chart/ChartHeader.jsx
  src/components/chart/ChartTabButtons.jsx
  src/components/chart/IdolList.jsx
Due: biome

💄Style: push안되는 문제 해결
  package-lock.json
  package.json
Due: biome

♻️Refactor: 차트 데이터 불러오는 api 변경을 위한 기존 함수 삭제
  src/components/chart/fetchData.js
Due: biome

♻️Refactor: fetchCharts 함수 사용하여 차트 데이터 불러오도록 수정
  src/components/chart/Chart.jsx
Due: biome

♻️Refactor: 차트 컴포넌트 분리
  src/components/chart/ChartHeader.jsx
  src/components/chart/ChartTabButtons.jsx
  src/components/chart/idolList.jsx
Due: biome

🐛Fix: push 방지 문제 해결을 위한 vite 버전 업데이트
  package-lock.json
  package.json
Due: biome

Path conditions:
  stylelint: any of: src/**/*.styles.{js,jsx}
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
