Repository StarSync-FE/StarSync: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, biome

stylelint:
  run: npx stylelint {staged_files} --fix --max-warnings=0
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

♻️Refactor: 더 보기 버튼 분리하여 공용화
  src/components/button/index.js
  src/components/button/loadMoreButton/LoadMoreButton.jsx
  src/components/button/loadMoreButton/index.js
  src/components/button/loadMoreButton/loadMoreButton.styles.js
Due: stylelint, biome

💄Style: 차트에 투표 수 반영하는 상태변수 추가
  src/components/list/ListModal.jsx
  src/pages/list/ListPage.jsx
Due: biome

💄Style: 투표 성공 시 성공트리거 상태 변경으로 차트 렌더링 유도
  src/components/modals/voteModal/VoteModal.jsx
Due: biome

💄Style: 충전하기 모달창 로고 이미지 추가에 따른 디자인 수정
  src/components/modals/creditChargeModal/creditChargeModal.styles.js
Due: stylelint, biome

💄Style: 모바일에서 border 색상 회색으로 보여 색상 수정 및 리스트 active 효과 추가
  src/components/chart/chart.styles.js
Due: stylelint, biome

📦Chore: CICD관련 코드 추가
  .github/workflows/preview.yml
Due: none

💄Style: 차트에 투표 수 반영을 위한 디펜던시 추가
  src/components/chart/Chart.jsx
Due: biome

📦Chore: PR Preview builld 방식 수정
  .github/workflows/preview.yml
Due: none

✨Feat: 크레딧 충전 성공 실패에 따른 경고창 기능 적용
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
Due: biome

♻️Refactor: screenSize 함수 분리하여 공용화 및 그에 따른 경로 수정
  src/components/chart/Chart.jsx
  src/utils/responsive/index.js
  src/utils/responsive/useScreenSize.js
Due: biome

💄Style: 더보기 버튼 경로 오류 수정
  src/components/button/loadMoreButton/LoadMoreButton.jsx
Due: biome

📦Chore: Pr Preview 관련 수정
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  vite.config.js
Due: biome

💄Style: mobile 사이즈에서 오른쪽에 컨텐츠 붙어보이는 디자인 수정을 위한 min-width 조정
  src/pages/list/listPage.styles.js
Due: stylelint, biome

💄Style: 불필요한 배열 및 주석 삭제
  src/components/modals/creditChargeModal/CreditChargeModal.jsx
Due: biome

♻️Refactor: 캐러셀 구조 및 스타일 수정
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
Due: stylelint, biome

♻️Refactor: 카드 컴포넌트 일부 수정
  src/components/card/Card.jsx
Due: biome

♻️Refactor: 후원 모달 방어로직 추가 및 Alert 컴포넌트 적용
  src/components/modals/donationModal/DonationModal.jsx
Due: biome

♻️Refactor: 이미지 변경 및 스타일 수정
  src/components/card/Card.jsx
  src/components/modals/donationModal/DonationModal.jsx
  src/components/modals/donationModal/donationModal.styles.js
Due: stylelint, biome

💄Style: 스타일 일부 수정
  src/components/card/card.styles.js
  src/components/carousel/carousel.styles.js
Due: stylelint, biome

✨Feat: 메타 태그 사용하여 SEO 향상
  index.html
  public/default-og.png
  src/pages/landing/LandingPage.jsx
  src/pages/list/ListPage.jsx
  src/pages/my/MyPage.jsx
Due: biome

🐛Fix: PR Preview 제거
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
  vite.config.js
Due: biome

🐛Fix: PR Preview 제거
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
Due: none

✨Feat: 랜딩 페이지 리디자인
  src/assets/images/handle-frame.png
  src/assets/images/starSync-logo.svg
  src/assets/images/wonyoung.png
  src/components/starFrame/StarFrame.jsx
  src/components/starFrame/index.js
  src/components/starFrame/starFrame.styles.js
  src/pages/landing/LandingPage.jsx
  src/pages/landing/landingPage.styles.js
Due: stylelint, biome

💄Style: 불필요한 이미지 삭제
  src/assets/images/credit-white.png
Due: none

♻️Refactor: 재사용성을 고려한 애니메이션 유틸 함수 생성
  src/utils/animation/animation.js
  src/utils/animation/index.js
Due: biome

💄Style: 1등과 리스트 전체를 위한 애니메이션 추가
  src/components/charge/charge.styles.js
  src/components/chart/Chart.jsx
Due: stylelint, biome

🐛Fix: 화면 크기 변경 시 일부 후원 목록이 보이지 않던 문제 해결
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
Due: stylelint, biome

🐛Fix: 오버플로우 현상 수정
  src/components/carousel/Carousel.jsx
Due: biome

💄Style: 버튼 스타일 수정
  src/components/carousel/carousel.styles.js
Due: stylelint, biome

💄Style: 충전하기 버튼 애니메이션 수정
  src/components/charge/Charge.jsx
  src/components/charge/charge.styles.js
Due: stylelint, biome

💄Style: 전체적인 애니메이션 추가로 사용자 경험 개선
  src/components/chart/Chart.jsx
  src/components/chart/chart.styles.js
Due: stylelint, biome

💄Style: 애니메이션 동작 설명 추가
  src/utils/animation/animation.js
Due: biome

💄Style: 공용화를 위한 로딩스피너 디자인 수정
  src/components/loadingStatus/loadingSpinner/LoadingSpinner.jsx
  src/components/loadingStatus/loadingSpinner/loadingSpinner.styles.js
Due: stylelint, biome

💄Style: 로딩 상태 변수 추가 및 로딩 스피너 적용
  src/components/modals/voteModal/VoteModal.jsx
Due: biome

💄Style: 크레딧 충전하기 버튼 심장박동 애니메이션 추가
  src/components/charge/charge.styles.js
  src/utils/animation/animation.js
Due: stylelint, biome

✨Feat: 로딩 상태 변수 추가 및 로딩 스피너 적용
  src/components/modals/voteModal/VoteModal.jsx
Due: biome

♻️Refactor: 캐러셀 일부 수정 - 컴포넌트 로직 일부 수정 - 스타일 일부 수정 - 상수 수정
  src/components/carousel/Carousel.jsx
  src/components/carousel/carousel.styles.js
  src/constants/carousel/carousel.js
Due: stylelint, biome

♻️Refactor: 후원 모달 토스트 수정
  src/components/modals/donationModal/DonationModal.jsx
Due: biome

✨Feat: 아이돌 사진 업로드
  src/assets/images/idols/hanbin.png
  src/assets/images/idols/ningning.png
  src/assets/images/idols/subin.png
  src/assets/images/idols/suin.png
  src/assets/images/idols/sullyoon.png
  src/assets/images/idols/wonyoung.png
Due: none

Path conditions:
  stylelint: any of: src/**/*.styles.{js,jsx}
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
